div{
	color: #00ffff;
	background: #ffff00;
	line-height: 200px;
	text-align: center;
	width: 250px;
	height: 200px;
	border-radius: 6px;
	transition-property: color, width, background, border-radius;
	transition-duration: .5s;
	transition-timing-function: linear;
	transition-delay: .5s;
	/*transform: rotate(45deg);*/
	transform: translate(100px, 260px);
	transform: scale(2.0, 3);
	transform: skew(10deg, 30deg);
	margin: 0 auto;
	transform: rotateX(4deg) scale(1,2) translate(0px, 80px);
}
div:hover{
	color: #ffffff;
	width: 300px;
	background: #0000ff;
	border-radius: 50%;
}
div:active{
	color: #000000;
	width: 150px;
	background: #00DDB3;
}